<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="" value=""/>
  </appSettings>
  <configSections>
    <sectionGroup name="Chemin">
      <section name="Lecteur" type="System.Configuration.DictionarySectionHandler" />
      <section name="Dossier" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <chemin>
    <Lecteur>
      <add path="LecteurC" value="C:\" />
      <add path="LecteurF" value="F:\" />
    </Lecteur>
    <Dossier>
      <add path="C/TestFile" value="Users\UserPC\Desktop\TESTDELFILE" />
      <add path="C/Essai" value="Users\UserPC\Desktop\Jeu d'essai" />
      <add path="F/Logs" value="logs" />
    </Dossier>
  </chemin>

  <configuration>
    <configSections>
      <section name="OptionRep" type="ConsoleApplication1.MaSection, ConsoleApplication1" />
    </configSections>
    <MaSection option="UniRep" Value="false"/>
    <MaSection option="SousRep" Value="true"/>
  </configuration>

  <configuration>
    <configSections>
      <section name="Format" type="ConsoleApplication1.MaSection, ConsoleApplication1" />
    </configSections>
    <MaSection format="jpg" Value=".jpg"/>
    <MaSection format="bmp" Value=".bmp"/>
    <MaSection format="txt" Value=".txt"/>
    <MaSection format="tif" Value=".tif"/>
    <MaSection format="png" Value=".png"/>
    <MaSection format="pdf" Value=".pdf"/>
    <MaSection format="tous" Value="*"/>
  </configuration>

  <configuration>
    <configSections>
      <section name="Type" type="ConsoleApplication1.MaSection, ConsoleApplication1" />
    </configSections>
    <MaSection type="bl" Value="BL"/>
    <MaSection type="fac" Value="FAC"/>
    <MaSection type="pod" Value="POD"/>
    <MaSection type="pd" Value="PD"/>
    <MaSection type="lit" Value="LIT"/>
    <MaSection type="tous" Value="*"/>
  </configuration>

  <configuration>
    <configSections>
      <section name="OptionDate" type="ConsoleApplication1.MaSection, ConsoleApplication1" />
    </configSections>
    <MaSection option="Creation" Value="true"/>
    <MaSection option="Modification" Value="true"/>
  </configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>