<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Chemin">
      <section name="Lecteur" type="System.Configuration.DictionarySectionHandler" />
      <section name="Dossier" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>

  <chemin>
    <Lecteur>
      <add key="LecteurC" value="C:\" />
      <add key="LecteurF" value="F:\" />
    </Lecteur>
    <Dossier>
      <add key="C/TestFile" value="Users\UserPC\Desktop\TESTDELFILE" />
      <add key="C/Essai" value="Users\UserPC\Desktop\Jeu d'essai" />
      <add key="F/Essai" value="Users\UserPC\Desktop\Jeu d'essai" />
      <add key="F/Essai" value="Users\UserPC\Desktop\Jeu d'essai" />
    </Dossier>
  </chemin>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>